:root {
  --primary-color: #8dd1fa;
  --secondary-color: #ffe7ee;
  --tertiery-color: #c2b9fc;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: rgb(247, 247, 247);
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 90px;
  padding: 5px 0;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.about-paragraph {
  display: flex;
  margin: 30px 0;
}

.about-paragraph p {
  margin: 10px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: rgb(163, 163, 163);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  color: var(--tertiery-color);
  text-decoration: underline;
}

.navigation-links {
  display: flex;
  margin-top: 40px 0;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: --var(--secondary-color);
}

.contact-link:hover {
  background: var(--tertiery-color);
  color: black;
}
